.home{
   position: relative;
   overflow-y: hidden;
}
.navbar ul{
    margin-left: 1rem;
    display: flex;
    gap: 2rem;
  }
  .navbar ul li{
    list-style: none;
    font-size: 18px;
    color: #fff;
  }
  .card-container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 4rem;
  }
  .create-card-btn{
    position: absolute;
    bottom: 2rem;
    right: 1rem;
  }