:root {
  --card-height: 400px;
  --card-width: 350px;
}
.Cards {
  height: var(--card-height);
  width: var(--card-width);
  background-color: var(--card-backgroundColor);
  border-radius: 8px;
  h2,
  h3,
  h4 {
    color: var(--text-color);
  }
  p {
    color: var(--text-para-color);
  }
  .card-image {
    height: 80%;
    width: 95%;
    background-position: center;
    background-size: contain;
    border-radius: 14px;
  }
  .card-details-btn {
    position: sticky;
    bottom: 0%;
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-end;
    flex: 0 0 auto;
    text-align: center;
  }
  .card-details {
    height: 100%;
    .card-designation {
      min-height: fit-content;
      max-height: 50px;
      overflow: auto;
      border-radius: 4px;
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      width: 93%;
      background-color: var(--designation-bg-color);
    }
    .card-description {
      height: 120px;
      overflow-y: auto;
      border-radius: 12px;
      position: relative;
      background-color: var(--description-bg-color);
    }
  }
}
.Cards.theme-light {
  --text-color: #222;
  --text-para-color: #fff;
  --card-backgroundColor: #ccc;
  --designation-bg-color: #888;
  --description-bg-color: #888;
}
.Cards.theme-blue {
  --text-color: #0d173a;
  --text-para-color: #eee;
  --card-backgroundColor: rgb(182, 182, 231);
  --designation-bg-color: #7a83a5;
  --description-bg-color: #7a83a5;
}

.Cards.theme-orange {
  --text-color: #883410;
  --text-para-color: #000;
  --card-backgroundColor: rgb(250, 225, 178);
  --designation-bg-color: #f7f5ea;
  --description-bg-color: #f7f5ea;
}
.Cards.theme-purple {
  --text-color: #452672;
  --text-para-color: #000;
  --card-backgroundColor: #c2aae6;
  --designation-bg-color: #d0b7f4;
  --description-bg-color: #d0b7f4;
}
.Cards.theme-green {
  --text-color: #244713;
  --text-para-color: #000;
  --card-backgroundColor: rgb(175, 238, 175);
  --designation-bg-color: #88e288;
  --description-bg-color: #88e288;
}
.Cards.theme-red {
  --text-color: #8f1313;
  --text-para-color: #000;
  --card-backgroundColor: rgb(245, 116, 116);
  --designation-bg-color: #fdd1d0;
  --description-bg-color: #fdd1d0;
}
.Cards.theme-dark {
  --text-color: #fff;
  --text-para-color: #ccc;
  --card-backgroundColor: #333;
  --designation-bg-color: #5c5c5c;
  --description-bg-color: #5c5c5c;
}
.chip {
  display: flex;
  margin-top: 5px;
  padding: 4px;
  justify-content: space-between;
  align-items: center;
  background: #61e961 0% 0% no-repeat padding-box;
  color: #020101;
  font-weight: 600;
  border-radius: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-wrap: nowrap;
  width: fit-content;
  height: fit-content;
}
.custom-input {
  width: 12rem;
  padding: 12px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 1px solid white;
  border-radius: 8px;
  outline: none;
  background-color: #d1d5db;
  align-self: end;
  position: relative;
}
.custom-input::placeholder {
  color: #868181;
}
.custom-dropdown {
  width: 12rem;
  padding: 12px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 1px solid white;
  border-radius: 8px;
  outline: none;
  background-color: #d1d5db;
}
.p-dialog-content{
  width: 45vw;
  overflow-x: hidden;
}
.save-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  border: #fff;
  outline: none;
  cursor: pointer;
  background-color: #34495e;
  color: #e2ecf7;
  border-radius: 5px;
}
.save-button:active {
  outline: none;
  border: none;
}
.errormsg{
  color: rgb(223, 11, 11);
  font-size: 14px;
  margin: 4px;
}